[submodule "EmbeddedInfraLib"]
	path = EmbeddedInfraLib
	url = ../EmbeddedInfraLib.git
	branch = develop
[submodule "HalSt"]
	path = HalSt
	url = ../HalSt.git
	branch = develop
[submodule "Preview"]
	path = Preview
	url = ../Preview.git
	branch = develop
[submodule "IoExpander"]
	path = IoExpander
	url = D:\\310116308\\OneDrive - Philips\\IoExpander.git
	branch = master
